<% content_for :stylesheet do %>
  <link href="/css/jumbotron.css" rel="stylesheet">
<% end %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>GIPSOL</h1>
    <p>GIPSOL es un juego educativo en el que todos los amantes del medio ambiente podrán desmotrar cuánto saben</p>
  </div>
</div>

<div class="container">
  <%= partial 'common/alerts' %>
</div>
