<div class="row">
  <div class="col-md-12 col-lg-12">
    <h4>Nueva Categoría</h4>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <form action="/categories" class="form-horizontal" method="post">
      <%= partial :'categories/form', category: category %>
    </form>
  </div>
</div>

